Playbooks/SOC_Proofpoint_Message_Delivered.yml
adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    isoverridable: false
    itemVersion: 1.0.5
    packID: ""
    packName: SOC Phishing Investigation
    prevname: ""
    supportedModules: []
    toServerVersion: ""
dirtyInputs: true
id: SOC Proofpoint Message Delivered
inputSections:
- description: Generic group for inputs
  inputs:
  - ShadowMode
  name: General (Inputs group)
inputs:
- description: Shadow Mode is a key safety mechanism. It ensures actions like isolate_endpoint
    or disable_user are logged but not executed in test scenarios.
  key: ShadowMode
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
name: SOC Proofpoint Message Delivered
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
sourceplaybookid: fcd8a90f-5f53-4dc4-8ade-48374a66b4ec
starttaskid: "0"
tags:
- SOC
- PoV
- Phishing
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4f0f9a78-b827-47b2-8ad0-863c193e9a3b
      iscommand: false
      name: ""
      playbooktaskmissingcomponent: null
      version: -1
    taskid: 4f0f9a78-b827-47b2-8ad0-863c193e9a3b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 676.25,
          "y": 50
        }
      }
  "2":
    continueonerror: true
    continueonerrortype: errorPath
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "27"
      '#none#':
      - "12"
    note: true
    quietmode: 2
    scriptarguments:
      ignore-outputs:
        simple: "false"
      includeCampaignForensics:
        simple: "true"
      threatId:
        simple: ${alert.proofpointtapthreatid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns forensics evidence.
      id: 452a95ad-530c-42f3-8c9e-b0b1a657d62e
      iscommand: true
      name: Get Forensic Information
      playbooktaskmissingcomponent: null
      script: '|||proofpoint-get-forensics'
      type: regular
      version: -1
    taskid: 452a95ad-530c-42f3-8c9e-b0b1a657d62e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 676.25,
          "y": 540
        }
      }
  "3":
    continueonerror: true
    continueonerrortype: errorPath
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "27"
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      forensicdnsmarkdown:
        complex:
          accessor: DNS
          root: Proofpoint.Report
          transformers:
          - args:
              headers: {}
              is_auto_json_transform: {}
              json_transform_properties: {}
              title: {}
            operator: JsonToTable
      forensicfilemarkdown:
        complex:
          accessor: File
          root: Proofpoint.Report
          transformers:
          - args:
              headers: {}
              is_auto_json_transform: {}
              json_transform_properties: {}
              title: {}
            operator: JsonToTable
      forensicnetworkmarkdown:
        complex:
          accessor: Network
          root: Proofpoint.Report
          transformers:
          - args:
              headers: {}
              is_auto_json_transform: {}
              json_transform_properties: {}
              title: {}
            operator: JsonToTable
      forensicsummarymarkdown:
        complex:
          accessor: Behavior
          root: Proofpoint.Report
          transformers:
          - args:
              headers: {}
              is_auto_json_transform: {}
              json_transform_properties: {}
              title: {}
            operator: JsonToTable
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 28a0b72f-81ce-4e95-8ca1-616301618c1f
      iscommand: true
      name: Summarize Forensic Info
      playbooktaskmissingcomponent: null
      script: Builtin|||setAlert
      type: regular
      version: -1
    taskid: 28a0b72f-81ce-4e95-8ca1-616301618c1f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1743,
          "y": 880
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Proofpoint.Report.Behavior
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0ea40b25-ce02-421f-85b0-cbf59799e498
      iscommand: false
      name: Forensic Info Exists?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 0ea40b25-ce02-421f-85b0-cbf59799e498
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1402.5,
          "y": 710
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: errorPath
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "27"
      '#none#':
      - "15"
      - "20"
    note: false
    quietmode: 2
    reputationcalc: 2
    scriptarguments:
      text:
        simple: ${alert.proofpointtapthreatinfomap.threat}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 5b5963cc-efcd-49ad-8a46-47cb96c83ee5
      iscommand: true
      name: Create Indicator from Threat
      playbooktaskmissingcomponent: null
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 5b5963cc-efcd-49ad-8a46-47cb96c83ee5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1066.75,
          "y": 1210
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c469e372-ff9f-48e1-8349-2fe63d82a671
      iscommand: false
      name: TIM - Enrichment
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: c469e372-ff9f-48e1-8349-2fe63d82a671
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1066.75,
          "y": 1050
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: errorPath
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "27"
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      indicator:
        simple: ${alert.proofpointtapthreatinfomap}
      indicatorType:
        complex:
          accessor: threatType
          root: alert.proofpointtapthreatinfomap
          transformers:
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: file
              toReplace:
                value:
                  simple: attachment
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: url
              toReplace:
                value:
                  simple: url
            operator: replace
      reliability:
        simple: C - Fairly reliable
      score:
        simple: "2"
      vendor:
        simple: Proofpoint
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add DBot score to context for indicators with custom vendor, score,
        reliability, and type.
      id: 9d366bb2-3e24-4d90-81e8-1ce2c24516f3
      iscommand: false
      name: Assign Proofpoint DBot Score
      playbooktaskmissingcomponent: null
      script: AddDBotScoreToContext
      type: regular
      version: -1
    taskid: 9d366bb2-3e24-4d90-81e8-1ce2c24516f3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 195.25,
          "y": 1380
        }
      }
  "16":
    continueonerror: true
    continueonerrortype: errorPath
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "27"
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${alert.proofpointtapthreatinfomap.threat}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the overall score for the indicator as calculated by DBot.
      id: e5f9d19c-a3cb-4e2a-89fe-c11a50e3fb0e
      iscommand: false
      name: Get Indicator Scores
      playbooktaskmissingcomponent: null
      script: GetIndicatorDBotScoreFromCache
      type: regular
      version: -1
    taskid: e5f9d19c-a3cb-4e2a-89fe-c11a50e3fb0e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 426.25,
          "y": 1550
        }
      }
  "17":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: DBotScoreCache.Score
          operator: greaterThan
          right:
            value:
              simple: "2"
        - left:
            iscontext: true
            value:
              simple: Proofpoint.Report.Behavior.Malicious
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eb9356ec-b4d9-478b-8536-191e03a6c07d
      iscommand: false
      name: Remediation Required?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: eb9356ec-b4d9-478b-8536-191e03a6c07d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 576.25,
          "y": 1880
        }
      }
  "18":
    continueonerror: true
    continueonerrortype: errorPath
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "27"
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 4551a43b-2077-4ec8-80bb-36ffd0107072
      iscommand: true
      name: Close
      playbooktaskmissingcomponent: null
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 4551a43b-2077-4ec8-80bb-36ffd0107072
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 576.25,
          "y": 2380
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 90f63808-dd29-4d55-89e1-0a122d41b85a
      iscommand: false
      name: Analysis
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 90f63808-dd29-4d55-89e1-0a122d41b85a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 576.25,
          "y": 1720
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: errorPath
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "27"
      '#none#':
      - "21"
    note: true
    quietmode: 0
    scriptarguments:
      url:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: alert.proofpointtapthreatinfomap.threatType
              operator: isEqualString
              right:
                value:
                  simple: url
          root: alert.proofpointtapthreatinfomap
          transformers:
          - args:
              field:
                value:
                  simple: threat
            operator: getField
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Converts the contents of a URL to an image file or a PDF file.
      id: f7d02ffa-ff2e-438b-823a-5af161fd22a7
      iscommand: true
      name: Rasterize URL
      playbooktaskmissingcomponent: null
      script: '|||rasterize'
      type: regular
      version: -1
    taskid: f7d02ffa-ff2e-438b-823a-5af161fd22a7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1157.25,
          "y": 1380
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: errorPath
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "27"
      '#none#':
      - "19"
    note: true
    quietmode: 0
    scriptarguments:
      method:
        simple: GET
      url:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: alert.proofpointtapthreatinfomap.threatType
              operator: isEqualString
              right:
                value:
                  simple: url
          root: alert.proofpointtapthreatinfomap
          transformers:
          - args:
              field:
                value:
                  simple: threat
            operator: getField
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends http request. Returns the response as json.
      id: ce5109eb-8747-4d18-8e15-f8a6c7c9d411
      iscommand: false
      name: Request raw HTML
      playbooktaskmissingcomponent: null
      script: http
      type: regular
      version: -1
    taskid: ce5109eb-8747-4d18-8e15-f8a6c7c9d411
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1302.5,
          "y": 1550
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 482b3e87-cf32-47a3-8308-db9d21bc02f0
      iscommand: false
      name: Forensics
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 482b3e87-cf32-47a3-8308-db9d21bc02f0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 676.25,
          "y": 380
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 24466488-2ee1-4a9a-8e9f-66ed057d351e
      iscommand: false
      name: Remediation
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 24466488-2ee1-4a9a-8e9f-66ed057d351e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 721.5,
          "y": 2050
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dd1721c1-dd0d-4d87-81d9-8e3c988cd193
      iscommand: false
      name: Manual Review
      playbooktaskmissingcomponent: null
      type: regular
      version: -1
    taskid: dd1721c1-dd0d-4d87-81d9-8e3c988cd193
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 721.5,
          "y": 2210
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 56e8e69e-92a8-45b9-8e8d-f1eb1f75be7a
      iscommand: false
      name: Foundation - Error Handling
      playbookName: Foundation - Error Handling
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 56e8e69e-92a8-45b9-8e8d-f1eb1f75be7a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2550
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c98fe7d9-a6e5-4c4a-81c8-af1c7b73dfca
      iscommand: false
      name: Done
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: c98fe7d9-a6e5-4c4a-81c8-af1c7b73dfca
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 340.5,
          "y": 2720
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2730,
        "width": 2073,
        "x": 50,
        "y": 50
      }
    }
  }
